.form-control.past{
 background-color: lightgray;
 color:black;
}
.form-control.future{
    background-color: lightgreen;
    color: black;
}
.form-control.present{
    background-color: lightcoral;
    color: black;
}
.jumbotron.jumbotron-fluid{    
    color: black;
    background:#777;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;     
}
.row{
    padding: 2px;
}